<!DOCTYPE html>
<html>
  <head>
   <title>Generar QR</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Crear codigo QR</h2>
<form action="" method="post">
  <input type="text" name="nombre" id="nombre" placeholder="nombre" require>
  <input type="text" name="apellido" id="apellido" placeholder="apellido" require>
  <input type="text" name="telefono" id="telefono" placeholder="telefono">
  <input type="email" name="email" id="email" placeholder="email">
  <input type="text" name="descripcion" id="descripcion" placeholder="descripcion" require>
  <input type="text" name="estado" id="estado" value="ACTIVO" readonly hidden>
  <button class="botonCrear" type="submit">Guardar y Descargar</button>
</form>
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
