@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;

}
body{background-color: rgba(0, 0, 0, 0.288);}
main{
  padding: 20px;


}
.cabeceraContainer{
  background-color: black;
  padding: 15px;

}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input{
  padding: 15px 10px;
  margin: 15px auto;
  border: 2px solid black;
  width: 80%;
}
.botonCrear{
  background-color: rgb(46, 192, 46);
  border:none;
padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 10px;
}
.botonCaducar{
  background-color: rgb(196, 61, 28);
  border:none;
  font-size: 22px;
  color: white;
padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 10px;
}
ul{
  padding: 10px;
}
li{
  list-style: none;
  padding:5px;
  font-size: 22px;
}

.estado{
  display: block;
  padding: 20px;
  width: 80%;
font-size: 20px;
  margin: 10px auto;
  border-radius: 5px;
  background-color: rgb(191, 135, 243);
}
a{
  text-decoration: none;
 color:black ;
 font-size: 20px;
}


.validoPara{
  font-size: 20px;
  display: block;
  padding: 20px;
  width: 80%;
  border-radius: 5px;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: rgb(191, 135, 243);
}
#enviarWhatsapp{
  background-color: rgb(46, 192, 46);
  border:none;
padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}